<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--footer start-->
<th:block th:fragment="footerFragment">
    <h1>테스트 </h1>
<!--    <hr class="rgba-white-light">-->
<!--    <div class="container footer">-->
<!--        <div class="row text-center d-flex justify-content-center pt-5 mb-3">-->
<!--            <div class="col-md-2 mb-3">-->
<!--                <h6 class="text-uppercase font-weight-bold">-->
<!--                    <a href="#!">첫번째</a>-->
<!--                </h6>-->
<!--            </div>-->
<!--            <div class="col-md-2 mb-3">-->
<!--                <h6 class="text-uppercase font-weight-bold">-->
<!--                    <a href="termsOfService.do">두번째</a>-->
<!--                </h6>-->
<!--            </div>-->
<!--            <div class="col-md-2 mb-3">-->
<!--                <h6 class="text-uppercase font-weight-bold">-->
<!--                    <a href="privacyPolicy.do">세번째</a>-->
<!--                </h6>-->
<!--            </div>-->
<!--            <div class="col-md-2 mb-3">-->
<!--                <h6 class="text-uppercase font-weight-bold">-->
<!--                    <a href="noticeList.do">네번째</a>-->
<!--                </h6>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row d-flex text-center justify-content-center mb-sm-0 mb-4">-->
<!--            <div class="col-md-8 col-12">-->
<!--                <p style="line-height: 1.7rem">-->
<!--                    회사명 : 주식회사 Goose &nbsp;&nbsp; 사업자등록번호 : 123-45-7890 <br> 주소 : 경기도 동두천시 동두천로 139 부영아파트 902동 1104호-->
<!--                    <br> 연락처 : 010-1234-5678-->
<!--                    &nbsp; 개인정보관리 책임자 : 박재명 &nbsp; 대표자 : 박재명(JM)-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="footer-copyright text-center py-3">© 2021 Copyright : Muggi-Market, All rights reserved-->
<!--        </div>-->

<!--    </div>-->
</th:block>
<!--footer end-->
</body>
</html>